/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1 {
	text-align: center;

	&__text {
		font-size: 4rem;
		line-height: 1.2;
		color: #0068b7;
		font-weight: bold;

		span {
			font-size: 2rem;
			color: #111;
			position: relative;
			padding-left: 50px;

			&:before {
				content: '';
				width: 80px;
				border-top: 1px solid #0068b7;
				position: absolute;
				transform: rotate(-50deg);
				left: -13px;
				top: 5px;
			}
		}
	}
}