/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1 {
	width: 1028px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	@include sp {
		width: 100%;
		padding: 0 20px;
		justify-content: space-between;
	}

	//-------------------------------------------------------
	&__card {
		width: 185px;
		margin: 0 0 39px 96px;
		@include sp {
			width: 48%;
			margin: 0 0 25px;
		}

		&:nth-child(4n+1) {
			margin: 0 0 30px;
			@include sp {
				margin: 0 0 25px;
			}
		}
	}

	//-------------------------------------------------------
	&__inner {
		text-decoration: none;
		text-align: center;
	}

	//-------------------------------------------------------
	&__img {
		width: 100%;
		text-align: center;
		overflow: hidden;
		@include sp {
			padding: 0 40px;
		}

		img {
			transition: all 0.3s ease-out;
		}

		//-------------------------------------------------------
		&:hover {
			img {
				transform: scale(1.2);
			}
		}
	}

	//-------------------------------------------------------
	&__info {
		margin: 20px 0 0;
		@include sp {
			margin: 7px 0 0;
		}
	}

	//-------------------------------------------------------
	&__ttl {
		font-size: 1.2rem;
		line-height: 1.5;
		color: #111;
		@include sp {
			font-size: 1rem;
		}
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.6rem;
		line-height: 1.5;
		color: #0068b7;
		font-weight: bold;
		margin: 7px 0 0;
		@include sp {
			font-size: 1.4rem;
			margin: 2px 0 0;
		}
	}
}