/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-checkbox {
	// width: 113px;
	padding-left: 28px;
	box-sizing: border-box;
	$root: &;
	@include sp {
		width: 100%;
		padding-left: 24px;
	}

	//-------------------------------------------------------
	input[type="checkbox"] {
		display: none;
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.6rem;
		line-height: 1;
		color: #000;
		letter-spacing: 0.5px;
		cursor: pointer;
		position: relative;
		font-weight: normal;
		@include sp {
			font-size: 1.1rem;
			line-height: 1;
			letter-spacing: 0;
		}
		&::before {
			content: "";
			width: 21px;
			height: 21px;
			border: 1px solid #a1a1a1;
			box-sizing: border-box;
			background-color: transparent;
			background: #fff;
			position: absolute;
			top: 0;
			margin: 0 5px 0 0;
			left: -28px;
			@include sp {
				width: 18px;
				height: 18px;
				left: -22px;
			}
		}
	}

	//-------------------------------------------------------
	input[type="checkbox"]:checked + #{$root}__text:after {
		content: "";
		width: 7px;
		height: 16px;
		border-right: 1px solid #0068b4;
		border-bottom: 1px solid #0068b4;
		transform: rotate(45deg) translate(-50%);
		position: absolute;
		top: 3px;
		left: -14px;
		@include sp {
			width: 3px;
			height: 10px;
			border-width: 1.5px;
			top: 3px;
			left: -13px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-tab {
	width: 1080px;
	margin: 0 auto;
	background-color: #fff;
	box-sizing: border-box;
	$root: &;
	@include sp {
		width: 100%;
		background: none;
		padding: 0;
	}

	//-------------------------------------------------------
	&__wrap {
		display: flex;
		overflow: hidden;
		@include sp {
			width: 100%;
		}
	}

	//-------------------------------------------------------
	&__link {
		width: 20%;
		text-align: center;
		background: rgba(0, 104, 183, 0.7);
		border-left: 1px solid #fff;
		font-weight: bold;
		color: #fff;
		padding: 9px 15px 13px;
		letter-spacing: 1px;
		box-sizing: border-box;
		cursor: pointer;
		@include sp {
			font-size: 1.2rem;
			line-height: 1.3;
			padding: 12px 20px;
		}
		&.current {
			background: #fff;
			color: #111;
		}

		&:first-child {
			border: 0;
		}
	}

	//-------------------------------------------------------
	&__img {
		width: 100%;
		text-align: center;
	}

	//-------------------------------------------------------
	&__ttl {
		font-size: 1.6rem;
		font-weight: bold;
		margin: 5px 0 0;
	}

	//-------------------------------------------------------
	&__content {
		display: none;
		padding: 40px 60px;
		box-sizing: border-box;
		@include sp {
			padding: 10px 10px 10px;
		}
		&.current {
			display: inherit;
		}
	}

	//-------------------------------------------------------
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	//-------------------------------------------------------
	&__item {
		width: 30%;
		margin: 0 0 20px;
	}
}